<div class="container">

    <form [formGroup] = "itemFormGroup" (ngSubmit)="onSubmit()">
        
        <table class="table">
            <tbody>
                <tr>
                    <td><label>Name:</label></td>
                    <td>
                        <input class="form-control" formControlName="name" type="text">                       
                    </td>

                </tr>
                <tr>
                    <td><label>Type:</label></td>
                    <td>
                        <select formGroupName="type" >
                            <option *ngFor="let type of types" value="{{ type }}" formControlName="type">{{ type.type }}</option>
                        </select>
                    </td>

                </tr>
                <tr>
                    <td><label>Price:</label></td>
                    <td>
                        <input class="form-control" formControlName="price" type="text">                           
                    </td>
                </tr>
                <tr>
                    <td><label>Net mass:</label></td>
                    <td>
                        <input class="form-control" formControlName="netMass" type="text">     
                    </td>
                </tr>
                <tr>
                    <td><label>Rating:</label></td>
                    <td>
                        <select formControlName="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Image:</label></td>
                    <td>
                        <input class="form-control" formControlName="image" type="text">
                    </td>
                </tr>
                <div formGroupName="nutritionalValues">
                    <tr>
                        <td><label>Protein:</label></td>
                        <td>
                            <input class="form-control" formControlName="protein" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td><label>Carbohydrates:</label></td>
                        <td>
                            <input class="form-control" formControlName="carbohydrates" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td><label>Fat:</label></td>
                        <td>
                            <input class="form-control" formControlName="fat" type="text">
                        </td>
                    </tr>
                </div>
                <tr>
                    <td><label></label></td>
                    <td><button class="btn btn-primary btn-dark" type="submit">Submit</button></td>
                </tr>
                
            </tbody>
        </table>
    </form>
        
    <p>
        <a routerLink="/items">Back to the list</a>
    </p>

</div>