<div class="container-fluid">

    <form [formGroup]="itemFormGroup" (ngSubmit)="onSubmit()">

        <div class="row input-space">
            <div class="col-md-2">
                <label>Name:</label>
            </div>

            <div class="col-md-6">
                <input class="form-control" formControlName="name" type="text">
            </div>
        </div>

        <div class="row input-space">
            <div class="col-md-2">
                <label>Type:</label>
            </div>

            <div class="col-md-6">
                <select class="form-control" formControlName="type">
                    <option *ngFor="let type of types" [ngValue]="type">{{ type.type }}</option>
                </select>
            </div>
        </div>


        <div class="row input-space">
            <div class="col-md-2">
                <label>Price:</label>
            </div>

            <div class="col-md-6">
                <input class="form-control" formControlName="price" type="text">
            </div>
        </div>

        <div class="row input-space">
            <div class="col-md-2">
                <label>Net mass:</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" formControlName="netMass" type="text">
            </div>
        </div>

        <div class="row input-space">
            <div class="col-md-2">
                <label>Rating:</label>
            </div>
            
            <div class="col-md-6">
                <select class="form-control" formControlName="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div class="row input-space">
            <div class="col-md-2">
                <label>Image:</label>
            </div>

            <div class="col-md-6">
                <input class="form-control" formControlName="image" type="text">
            </div>
        </div>

        <div formGroupName="nutritionalValues">

            <div class="row input-space">
                <div class="col-md-2">
                    <label>Protein:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" formControlName="protein" type="text">
                </div>
            </div>

            <div class="row input-space">
                <div class="col-md-2">
                    <label>Carbohydrates:</label>
                </div>

                <div class="col-md-6">
                    <input class="form-control" formControlName="carbohydrates" type="text">
                </div>
            </div>

            <div class="row input-space">
                <div class="col-md-2">
                    <label>Fat:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" formControlName="fat" type="text">
                </div>
            </div>

        </div>

        <div class="text-center">
            <button class="btn btn-primary btn-dark" type="submit">Submit</button>
        </div>

    </form>

    <p>
        <a routerLink="/items">Back to the list</a>
    </p>

</div>