<div class="row p-3 my-3">

    <div class="col-sm-8">

        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td><label><b>Name:</b></label></td>
                    <td>
                        {{ item.name }}                      
                    </td>

                </tr>
                <tr>
                    <td><label><b>Type:</b></label></td>
                    <td>
                        {{ item.type.type }}                        
                    </td>

                </tr>
                <tr>
                    <td><label><b>Price:</b></label></td>
                    <td>
                        {{ item.price }}
                    </td>
                </tr>
                <tr>
                    <td><label><b>Net mass:</b></label></td>
                    <td>
                        {{ item.netMass }}
                    </td>
                </tr>
                <tr>
                    <td><label><b>Rating:</b></label></td>
                    <td>
                        <span *ngFor="let index of [0,1,2,3,4]">
                            <div *ngIf="item.rating >= index + 1; else emptyStar" class="fa fa-star checked"></div>
                            <ng-template #emptyStar>
                                <div class="fa fa-star"></div>
                            </ng-template>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><label><b>Protein:</b></label></td>
                    <td>
                        {{ item.nutritionalValues.protein }}
                    </td>
                </tr>
                <tr>
                    <td><label><b>Carbohydrates:</b></label></td>
                    <td>
                        {{ item.nutritionalValues.carbohydrates }}
                    </td>
                </tr>
                <tr>
                    <td><label><b>Fat:</b></label></td>
                    <td>
                        {{ item.nutritionalValues.fat }}
                    </td>
                </tr>
                
            </tbody>
        </table>

    </div>



    <div class="col-sm-4">
        <img src="{{ item.image }}" height="400" width="400">
    </div>

</div>

<div class="row">
    
    <div class="col-sm-8">
        <p>
            <a href="javascript:void(0)" class="goback-link" (click)="goBack()">Back to the list</a>
        </p>
    </div>
    
    <div class="col-sm-2">
        <button class="btn btn-primary btn-dark">Edit item</button>
    </div>
    
    <div class="col-sm-2">
        <button class="btn btn-primary btn-dark" (click)="deleteProduct(item.id)">Delete item</button>
    </div>
</div>

