/* 
 * ----------------------------
 * Products List
 * ----------------------------
 */

.category-panel {
    background: #e5e5e5;
    min-height:100vh;
}

 .product-box img {
    width: 200px;
    height: 200px;
}

.items select {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: 0;
    margin-left: 5px;
}
.product-box{
    margin-bottom:60px
}
.price{
    margin:15px 0 0;
    font-weight:800;
    color: #0d0d0d
}
.product-box h1{
    font-size:18px;
    padding-bottom:2px;
    font-weight:600;
    padding-top:12px;
    margin-bottom:2px;
    color: #0d0d0d
}
.product-box h2{
    font-size:15px;
    padding-bottom:0;
    font-weight:500;
    color:#585858
}

.checked {
    color: orange;
}

.input-space {
    margin-bottom:20px
}

.category-link {
    display:block;
    color:#212529;
    font-size:16px;
    padding:5px 0
}

.active-link {
    font-weight: bold;
}

.title-icon {
    margin-left: 2rem;
    margin-right: 2rem;
}

.goback-link {
    display:block;
    color:#212529;
    font-weight: bold;
}

.nav-button {
    color: #ffffff;
}